[general]
import = [
  "~/.config/alacritty/onedark.toml"
]

[terminal]
shell = "{{ zsh.path }}"

[env]
TERM = "xterm-256color"

[font]
size = {{ alacritty.font_size }}

[font.bold]
family = "ComicMono Nerd Font"
style = "Bold"

[font.italic]
family = "ComicMono Nerd Font"
style = "Regular"

[font.normal]
family = "ComicMono Nerd Font"
style = "Regular"

[window]
startup_mode = "Maximized"
decorations = "None"

[keyboard]
bindings = [{ key = "N", mods = "Control | Shift", action = "CreateNewWindow" }]
