source "$HOME/{{ zsh.repos.zinit }}/zinit.zsh"

# zsh plugins
zinit load zsh-users/zsh-completions
zinit load zsh-users/zsh-autosuggestions
zinit ice wait lucid
zinit load zsh-users/zsh-syntax-highlighting
zinit ice wait lucid
zinit load Aloxaf/fzf-tab

# history
HISTSIZE=5000
HISTFILE=$HOME/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_ignore_dups
setopt hist_save_no_dups
setopt hist_find_no_dups

# completion
autoload -U compinit && compinit
zstyle ':completion:*' menu no

# key bindings
bindkey '^f' autosuggest-accept

# aliases
alias ls='ls --color=auto'
alias nv=nvim
alias la='ls -a --color=auto'
alias ta='tmux a || tmux new'
