# link submodules
{% for name, config in get_context().items() -%}
{% if config.repos is defined -%}
{% for name, path in config.repos.items() -%}
if [ ! -d "$HOME/{{ path }}" ]; then
	echo linking "{{ name }}"...
	mkdir -p $(dirname "$HOME/{{ path }}")
	ln -s "$HOME/.dotfiles/submodules/{{ name }}" "$HOME/{{ path }}"
fi
{% endfor -%}
{% endif -%}
{% endfor -%}

# setup
{% for name, config in get_context().items() -%}
{% if config.setup is defined and config.path is defined -%}
if [ -f {{ config.path }} ]; then
	eval "$({{ config.setup }})"
fi
{% endif -%}
{% endfor -%}

# init
{% for name, config in get_context().items() -%}
{% if config.init is defined -%}
# if command -v {{ name }} >/dev/null 2>&1; then
	{{ config.init }}
# fi
{% endif -%}
{% endfor -%}
