font-family = ComicMono Nerd Font

command = {{ zsh.path }}
font-size = {{ alacritty.font_size }}

gtk-titlebar = false

window-height = 53
window-width = 150

window-padding-x = 10
window-padding-y = 10
